In [ ]:
dir = "/content/drive/My Drive/statistics/"

In [ ]:
import pandas as pd
from scipy.stats import fisher_exact

File reading

In [ ]:
all_lineage = dir + "Fungi-RNA-221013-completed_lineage_table_simplified_final.csv"
all_lineage = pd.read_csv(all_lineage)
all_lineage

,SRA_id,taxid,superkingdom,kingdom,phylum,class,order,family,genus,species
0,DRR045236,1603295,Eukaryota,Fungi,<not present>,<not present>,<not present>,<not present>,<not present>,fungal sp. No.11243
1,DRR045235,1603295,Eukaryota,Fungi,<not present>,<not present>,<not present>,<not present>,<not present>,fungal sp. No.11243
2,DRR045234,1603295,Eukaryota,Fungi,<not present>,<not present>,<not present>,<not present>,<not present>,fungal sp. No.11243
3,DRR045233,1603295,Eukaryota,Fungi,<not present>,<not present>,<not present>,<not present>,<not present>,fungal sp. No.11243
4,DRR045232,1603295,Eukaryota,Fungi,<not present>,<not present>,<not present>,<not present>,<not present>,fungal sp. No.11243
...,...,...,...,...,...,...,...,...,...,...
46514,SRR097775,483514,Eukaryota,Fungi,Ascomycota,Schizosaccharomycetes,Schizosaccharomycetales,Schizosaccharomycetaceae,Schizosaccharomyces,Schizosaccharomyces octosporus
46515,SRR097776,483514,Eukaryota,Fungi,Ascomycota,Schizosaccharomycetes,Schizosaccharomycetales,Schizosaccharomycetaceae,Schizosaccharomyces,Schizosaccharomyces octosporus
46516,SRR097777,483514,Eukaryota,Fungi,Ascomycota,Schizosaccharomycetes,Schizosaccharomycetales,Schizosaccharomycetaceae,Schizosaccharomyces,Schizosaccharomyces octosporus
46517,SRR097778,483514,Eukaryota,Fungi,Ascomycota,Schizosaccharomycetes,Schizosaccharomycetales,Schizosaccharomycetaceae,Schizosaccharomyces,Schizosaccharomyces octosporus
46518,SRR097779,483514,Eukaryota,Fungi,Ascomycota,Schizosaccharomycetes,Schizosaccharomycetales,Schizosaccharomycetaceae,Schizosaccharomyces,Schizosaccharomyces octosporus

In [ ]:
virus_hit_lineage = dir + "Fungi-RNA-221013-completed_lineage_table_simplified_final_virushunter_hits.csv"
virus_hit_lineage = pd.read_csv(virus_hit_lineage)
virus_hit_lineage

,SRA_id,taxid,superkingdom,kingdom,phylum,class,order,family,genus,species
0,DRR003996,71910,Eukaryota,Fungi,Basidiomycota,Agaricomycetes,Agaricales,Phyllotopsidaceae,Pleurocybella,Pleurocybella porrigens
1,ERR1607750,27350,Eukaryota,Fungi,Basidiomycota,Pucciniomycetes,Pucciniales,Pucciniaceae,Puccinia,Puccinia striiformis
2,ERR1607749,27350,Eukaryota,Fungi,Basidiomycota,Pucciniomycetes,Pucciniales,Pucciniaceae,Puccinia,Puccinia striiformis
3,ERR1607804,27350,Eukaryota,Fungi,Basidiomycota,Pucciniomycetes,Pucciniales,Pucciniaceae,Puccinia,Puccinia striiformis
4,ERR1607791,27350,Eukaryota,Fungi,Basidiomycota,Pucciniomycetes,Pucciniales,Pucciniaceae,Puccinia,Puccinia striiformis
...,...,...,...,...,...,...,...,...,...,...
848,SRR9652124,228215,Eukaryota,Fungi,Basidiomycota,Agaricomycetes,Agaricales,Pleurotaceae,Pleurotus,Pleurotus eryngii
849,SRR9652119,228215,Eukaryota,Fungi,Basidiomycota,Agaricomycetes,Agaricales,Pleurotaceae,Pleurotus,Pleurotus eryngii
850,SRR9652120,228215,Eukaryota,Fungi,Basidiomycota,Agaricomycetes,Agaricales,Pleurotaceae,Pleurotus,Pleurotus eryngii
851,SRR9652121,228215,Eukaryota,Fungi,Basidiomycota,Agaricomycetes,Agaricales,Pleurotaceae,Pleurotus,Pleurotus eryngii
852,SRR9652128,228215,Eukaryota,Fungi,Basidiomycota,Agaricomycetes,Agaricales,Pleurotaceae,Pleurotus,Pleurotus eryngii

# Ascomycota vs Basidiomycota

In [ ]:
all_lineage_count = all_lineage['phylum'].value_counts().rename_axis('phylum').reset_index(name='count')
all_lineage_count

               phylum  count
0          Ascomycota  32587
1       Basidiomycota  11237
2        Mucoromycota   1006
3     Chytridiomycota    699
4       <not present>    501
5       Microsporidia    412
6       Zoopagomycota     45
7  Blastocladiomycota     30
8        Cryptomycota      2

In [ ]:
virus_hit_lineage_count = virus_hit_lineage['phylum'].value_counts().rename_axis('phylum').reset_index(name='count')
virus_hit_lineage_count

            phylum  count
0    Basidiomycota    804
1       Ascomycota     44
2  Chytridiomycota      2
3     Mucoromycota      2
4    <not present>      1

In [ ]:
asco_T = all_lineage_count.loc[all_lineage_count['phylum'] == 'Ascomycota', 'count'].iloc[0]
basi_T = all_lineage_count.loc[all_lineage_count['phylum'] == 'Basidiomycota', 'count'].iloc[0]
asco_virusP = virus_hit_lineage_count.loc[virus_hit_lineage_count['phylum'] == 'Ascomycota', 'count'].iloc[0]
basi_virusP = virus_hit_lineage_count.loc[virus_hit_lineage_count['phylum'] == 'Basidiomycota', 'count'].iloc[0]
asco_virusN = asco_T - asco_virusP 
basi_virusN = basi_T - basi_virusP

# generate dataframe for fisher's exact test
df_fisher_1 = pd.DataFrame({
    'Ascomycota': [asco_virusP, asco_virusN],
    'Basidiomycota': [basi_virusP, basi_virusN]
    }, index=['virus_positive', 'virus_negative'])

df_fisher_1

                Ascomycota  Basidiomycota
virus_positive          44            804
virus_negative       32543          10433

In [ ]:
odd_ratio, p_value = fisher_exact(df_fisher_1, alternative='two-sided')
print(p_value)
print(odd_ratio)

0.0
0.017544793012475038

In [ ]:
from scipy.stats import chi2_contingency
stat, p, dof, expected = chi2_contingency(df_fisher_1)
print(p)

0.0

# Ascomycota vs Mucoromycota

In [ ]:
asco_T = all_lineage_count.loc[all_lineage_count['phylum'] == 'Ascomycota', 'count'].iloc[0]
mucoro_T = all_lineage_count.loc[all_lineage_count['phylum'] == 'Mucoromycota', 'count'].iloc[0]
asco_virusP = virus_hit_lineage_count.loc[virus_hit_lineage_count['phylum'] == 'Ascomycota', 'count'].iloc[0]
mucoro_virusP = virus_hit_lineage_count.loc[virus_hit_lineage_count['phylum'] == 'Mucoromycota', 'count'].iloc[0]
asco_virusN = asco_T - asco_virusP 
mucoro_virusN = mucoro_T - mucoro_virusP

# generate dataframe for fisher's exact test
df_fisher_2 = pd.DataFrame({
    'Ascomycota': [asco_virusP, asco_virusN],
    'Mucoromycota': [mucoro_virusP, mucoro_virusN]
    }, index=['virus_positive', 'virus_negative'])

df_fisher_2

                Ascomycota  Mucoromycota
virus_positive          44             2
virus_negative       32543          1004

In [ ]:
odd_ratio, p_value = fisher_exact(df_fisher_2)
print(p_value)
print(odd_ratio)

0.40246288538647185
0.678732753587561

In [ ]:
from scipy.stats import chi2_contingency
stat, p, dof, expected = chi2_contingency(df_fisher_2)
print(p)

0.9155817537037833

# Ascomycota vs Chytridiomycota

In [ ]:
asco_T = all_lineage_count.loc[all_lineage_count['phylum'] == 'Ascomycota', 'count'].iloc[0]
chytri_T = all_lineage_count.loc[all_lineage_count['phylum'] == 'Chytridiomycota', 'count'].iloc[0]
asco_virusP = virus_hit_lineage_count.loc[virus_hit_lineage_count['phylum'] == 'Ascomycota', 'count'].iloc[0]
chytri_virusP = virus_hit_lineage_count.loc[virus_hit_lineage_count['phylum'] == 'Chytridiomycota', 'count'].iloc[0]
asco_virusN = asco_T - asco_virusP 
chytri_virusN = chytri_T - chytri_virusP

# generate dataframe for fisher's exact test
df_fisher_3 = pd.DataFrame({
    'Ascomycota': [asco_virusP, asco_virusN],
    'Chytridiomycota': [chytri_virusP, chytri_virusN]
    }, index=['virus_positive', 'virus_negative'])

df_fisher_3

                Ascomycota  Chytridiomycota
virus_positive          44                2
virus_negative       32543              697

In [ ]:
odd_ratio, p_value = fisher_exact(df_fisher_3)
print(p_value)
print(odd_ratio)

0.25157073885820114
0.47119196140491043

In [ ]:
from scipy.stats import chi2_contingency
stat, p, dof, expected = chi2_contingency(df_fisher_3)
print(p)

0.5826601809460483

# Basidiomycota vs Mucoromycota

In [ ]:
basi_T = all_lineage_count.loc[all_lineage_count['phylum'] == 'Basidiomycota', 'count'].iloc[0]
mucoro_T = all_lineage_count.loc[all_lineage_count['phylum'] == 'Mucoromycota', 'count'].iloc[0]
basi_virusP = virus_hit_lineage_count.loc[virus_hit_lineage_count['phylum'] == 'Basidiomycota', 'count'].iloc[0]
mucoro_virusP = virus_hit_lineage_count.loc[virus_hit_lineage_count['phylum'] == 'Mucoromycota', 'count'].iloc[0]
basi_virusN = basi_T - basi_virusP 
mucoro_virusN = mucoro_T - mucoro_virusP

# generate dataframe for fisher's exact test
df_fisher_4 = pd.DataFrame({
    'Basidiomycota': [basi_virusP, basi_virusN],
    'Mucoromycota': [mucoro_virusP, mucoro_virusN]
    }, index=['virus_positive', 'virus_negative'])

df_fisher_4

                Basidiomycota  Mucoromycota
virus_positive            804             2
virus_negative          10433          1004

In [ ]:
odd_ratio, p_value = fisher_exact(df_fisher_4)
print(p_value)
print(odd_ratio)

4.0930594965651465e-28
38.68570880858813

In [ ]:
from scipy.stats import chi2_contingency
stat, p, dof, expected = chi2_contingency(df_fisher_4)
print(p)

2.7426873423730154e-17

# Basidiomycota vs Chytridiomycota

In [ ]:
basi_T = all_lineage_count.loc[all_lineage_count['phylum'] == 'Basidiomycota', 'count'].iloc[0]
chytri_T = all_lineage_count.loc[all_lineage_count['phylum'] == 'Chytridiomycota', 'count'].iloc[0]
basi_virusP = virus_hit_lineage_count.loc[virus_hit_lineage_count['phylum'] == 'Basidiomycota', 'count'].iloc[0]
chytri_virusP = virus_hit_lineage_count.loc[virus_hit_lineage_count['phylum'] == 'Chytridiomycota', 'count'].iloc[0]
basi_virusN = basi_T - basi_virusP 
chytri_virusN = chytri_T - chytri_virusP

# generate dataframe for fisher's exact test
df_fisher_5 = pd.DataFrame({
    'Basidiomycota': [basi_virusP, basi_virusN],
    'Chytridiomycota': [chytri_virusP, chytri_virusN]
    }, index=['virus_positive', 'virus_negative'])

df_fisher_5

                Basidiomycota  Chytridiomycota
virus_positive            804                2
virus_negative          10433              697

In [ ]:
odd_ratio, p_value = fisher_exact(df_fisher_5)
print(p_value)
print(odd_ratio)

3.5967741925998756e-19
26.856512987635387

In [ ]:
from scipy.stats import chi2_contingency
stat, p, dof, expected = chi2_contingency(df_fisher_5)
print(p)

3.803229923696892e-12

# Mucoromycota vs Chytridiomycota

In [ ]:
mucoro_T = all_lineage_count.loc[all_lineage_count['phylum'] == 'Mucoromycota', 'count'].iloc[0]
chytri_T = all_lineage_count.loc[all_lineage_count['phylum'] == 'Chytridiomycota', 'count'].iloc[0]
mucoro_virusP = virus_hit_lineage_count.loc[virus_hit_lineage_count['phylum'] == 'Mucoromycota', 'count'].iloc[0]
chytri_virusP = virus_hit_lineage_count.loc[virus_hit_lineage_count['phylum'] == 'Chytridiomycota', 'count'].iloc[0]
mucoro_virusN = mucoro_T - mucoro_virusP 
chytri_virusN = chytri_T - chytri_virusP

# generate dataframe for fisher's exact test
df_fisher_6 = pd.DataFrame({
    'Mucoromycota': [mucoro_virusP, mucoro_virusN],
    'Chytridiomycota': [chytri_virusP, chytri_virusN]
    }, index=['virus_positive', 'virus_negative'])

df_fisher_6

                Mucoromycota  Chytridiomycota
virus_positive             2                2
virus_negative          1004              697

In [ ]:
odd_ratio, p_value = fisher_exact(df_fisher_6)
print(p_value)
print(odd_ratio)

1.0
0.6942231075697212

In [ ]:
from scipy.stats import chi2_contingency
stat, p, dof, expected = chi2_contingency(df_fisher_6)
print(p)

1.0

# Basi vs all other phyla

In [ ]:
# checking
all_lineage_count.loc[~all_lineage_count.phylum.isin(['Basidiomycota']), :]['count'].sum()

35282

In [ ]:
all_other_T = all_lineage_count.loc[~all_lineage_count.phylum.isin(['Basidiomycota']), :]['count'].sum()
all_otherP = virus_hit_lineage_count.loc[~virus_hit_lineage_count.phylum.isin(['Basidiomycota']), :]['count'].sum()
all_otherN = all_other_T - all_otherP

# generate dataframe for fisher's exact test
df_fisher_2 = pd.DataFrame({
    'Basidiomycota': [basi_virusP, basi_virusN], 
    'All phyla (except Basidiomycota)': [all_otherP, all_otherN]
    }, index=['virus_positive', 'virus_negative'])

df_fisher_2

                Basidiomycota  All phyla (except Basidiomycota)
virus_positive            804                                49
virus_negative          10433                             35233

In [ ]:
odd_ratio, p_value = fisher_exact(df_fisher_2)
print(p_value)
print(odd_ratio)

0.0
55.41156103963679

In [ ]:
from scipy.stats import chi2_contingency
stat, p, dof, expected = chi2_contingency(df_fisher_2)
print(p)

0.0